.moncontainer{
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  // background: red;
}

.editeur{
  border: 5px solid;
  height: 100%;
  width: 60%;
  max-width: 50%;

  textarea{
    width: 100%;
    height: 100%;
  }
}
.score{
  border: 5px solid;
  height: 100%;
  width:inherit;
  max-width: 65%;

  #scoreDiv{
    width:100%;
    height: 100%;
    // background:red;
  }
}

.bordered{
  border:1px solid black;
}
