#exercice-rythm{
  padding-top: 150px;
}
#abcjs-wrapper{
  // width:92vh;
  // height: 100px;
}

::ng-deep .abcjs-btn{
// width: 28px;
// height: 45px;
// margin-right: 2px;
// padding: 3px 4px;
// background: none;
// border: 1px solid transparent;
// box-sizing: border-box;
// display: flex;
// flex-direction: column;
// color:red;
// fill:red;
/* justify-content: center; */
/* align-items: center; */
}

::ng-deep .abcjs-inline-audio{
  background-color: transparent !important;
}

::ng-deep .abcjs-inline-audio .abcjs-btn{
  width:50px;
  height: 50px;
}

::ng-deep .abcjs-btn g{
  fill:green !important;
}

// ::ng-deep .abcjs-midi-progress-background{
//   width:200px;
// }
::ng-deep label{
  margin-bottom: unset !important;
}

.metronome{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 272px;
  width: 272px;
  margin:7px;
}

.fifth_circle{
  position: absolute;
  right: 274px;
  bottom: 0px;
  width: auto;
  height: 272px;
  
}
.text_input{
  font-family: monospace;
  font-size: x-large;
  border: none;
  width: max-content;
  max-width: 100%;
  width: -webkit-fill-available;
}
#synthControl{
  min-height: 100px;
  margin-top: -55px;
  z-index: 1;
  position: fixed;
  bottom: -30px;
}

.hidden {
    display: none;
}