#dico{
  
  .name{

  }
  .symbol{

  }
  .type{

  }
  .interv{

  }
  .note{

  }

  .main_col{
    overflow-y: scroll;
    height: 68vh;
  }
}

.selected{
  color:red;
}

.card{
  background-color: transparent;
  padding:5px;
}

i{
  &:hover{

  color:var(--light_prim) !important;
  }
}
