<div id="dico">

  <div class="w-100 d-flex" >
    <i class="fas fa-search p-2" title="Search"></i>
    <i class="fas fa-desktop p-2" (click)="analyseScore()" title="Analyse"></i>
    <i class="fas fa-plus p-2" (click)="add()" title="Add"></i>
    <i class="fas fa-cog p-2" title="DEBUG"></i>
  </div>

  <div class="main_col">
    <div class="card card-body" [attr.id]="'chord_dico_'+filter(chord.value.symbol)" *ngFor="let chord of chords_in_score | keyvalue ">

      <div class="symbol"><h6 class="m-0"><i class="fas fa-play p-2" (click)="play(chord)" title="Play"></i> {{chord.value.symbol}}</h6> 
      </div>
      <div class="name">Full Name :   {{chord.value.name}}</div>
      <div class="type">Type : {{chord.value.type}}</div>

      <app-piano-mini style="position: absolute; top: 0vw; right: 10%; max-width: 17vw; height: 11vh;" [notes]="chord.value.notes"></app-piano-mini>

      <table>
        <tr>Intervals : <td *ngFor="let interv of chord.value.intervals " class="interv"> {{interv}}   </td> </tr>
        <tr>Notes : <td *ngFor="let note of chord.value.notes " class="note"> {{note}}   </td> </tr>
      </table>
    </div>
  </div> <!-- main_col -->

</div>
