
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

.chordsBrowse_tab {
    height: 1em;
    width: 3em;
    position: fixed;
    bottom: 45px;
    left: 138px;
    border: 1px solid black;
    border-radius: 12px;
    border-bottom: none;
    background-color: #343a40 !important;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
  &.chordsBrowse_visible{
    bottom:145px;
  }

}

.chordsBrowse_menu{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    background-color: #343a40;
    position: fixed;
    width: 100%;
    left: 0px;
    height: 100px;
    bottom: 45px;
}

.editor_tab{
  width: 1.4em;
  height: 3em;
  position: fixed;
  right: 0px;
  top: 108px;
  border: 1px solid black;
  border-radius: 12px;
  border-right: none;
  background-color: #343a40!important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.9em;

  &.editor_visible{
    right : 36vw;
  }
}//editor_tab

@media (max-width: 750px) {
  .editor_tab {
    &.editor_visible{
      right: 271px !important;
    }
  }
  .dico_tab {
    &.dico_visible{
      right: 271px !important;
    }
  }
  .options_tab {
    &.options_visible{
      right: 271px !important;
    }
  }
  .circle_tab {
    &.circle_visible{
      right: 271px !important;
    }
  }
  .metro_tab {
    &.metro_visible{
      right: 271px !important;
    }
  }

}

.editor_menu{

  user-select:none;
  background-color: #343a40!important;
  // overflow: auto;
  position: fixed;
  width: 36vw;
  height: 100%;
  right: 100%;
  top:0px;
  color:white;
  min-width: 271px;
  padding-top: 10vh;
  &.editor_visible{
    right : 0vw;
    }
}

.metro_tab{
  width: 1.4em;
  height: 3em;
  position: fixed;
  right: 0px;
  top: 162px;
  border: 1px solid black;
  border-radius: 12px;
  border-right: none;
  background-color: #343a40!important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.9em;

  &.metro_visible{
    right : 36vw;
  }
}//metro_tab

.metro_menu{
  background-color: #343a40!important;
  // overflow: auto;
  position: fixed;
  height: 100%;
  right: 100%;
  top: 0px;
  color:white;
  // min-width: 300px;
  padding-top: 5vh;
  width: 36vw;
  min-width: 271px;
  justify-content:center;
  display:flex;

  &.metro_visible{
    right : 0vw;
  }

}

app-metro{
  position: absolute;
  height: 90%;
  width: 100%;
}

.circle_tab{
  width: 1.4em;
  height: 3em;
  position: fixed;
  right: 0px;
  top:216px;
  border: 1px solid black;
  border-radius: 12px;
  border-right: none;
  background-color: #343a40!important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.9em;

  &.circle_visible{
    right : 36vw;
  }
}//metro_tab

.circle_menu{
  background-color: #343a40!important;
  padding-top: 70px;
  position: fixed;
  height: 100%;
  right: 100%;
  top:0px;
  color:white;
  // padding-top: 5vh;
  width: 36vw;
  min-width: 271px;
  justify-content:center;
  display:flex;
  z-index:2;

  &.circle_visible{
    right:0px;
  }

}


.dico_tab{
  width: 1.4em;
  height: 3em;
  position: fixed;
  right: 0px;
  top: 270px;
  border: 1px solid black;
  border-radius: 12px;
  border-right: none;
  background-color: #343a40!important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.9em;

  &.dico_visible{
    right : 36vw;
  }
}//metro_tab

.dico_menu{

  user-select:none;
  background-color: #343a40!important;
  // overflow: auto;
  position: fixed;
  width: 36vw;
  height: 100%;
  right: 100%;
  top:0px;
  color:white;
  min-width: 271px;
  padding-top: 10vh;
  &.dico_visible{
    right : 0vw;
    }
}



.options_tab{
  width: 1.4em;
  height: 3em;
  position: fixed;
  right: 0px;
  top: 324px;
  border: 1px solid black;
  border-radius: 12px;
  border-right: none;
  background-color: #343a40!important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size: 0.9em;

  &.options_visible{
    right : 36vw;
  }
}//metro_tab

.options_menu{
  background-color: #343a40!important;
  // overflow: auto;
  position: fixed;
  height: 100%;
  right: 100%;
  width: 36vw;
  min-width: 271px;
  top: 0px;
  color:white;
  // min-width: 300px;
  padding-top: 70px;
  // justify-content:center;
  display:flex;

  &.options_visible{
    right : 0px;
  }

}










.song{
	display: flex;
	padding-top: 10vh; //CAUSE IT DEPENDS ON THE NAVBAR HEIGHT THAT DEPENDS ON HORIZONTAL SPACE
	height: 100vh;
  cursor:default;
  user-select:none;
  position:relative;
	overflow: auto;

	//scrollbar
    /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #888; 
    background:linear-gradient(180deg,#ff8a00,#e52e71);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


}
.no-margins{
	margin:0px;
}
.title-row{
	display:flex;
	flex-direction:row; 
	justify-content:center;
}

// input{
// 	height:2em;
// 	margin:10px;
// 	font-size: 2em;
//   min-width: 75% !important;
// }

#abcCanvas{
  // width:40%;
  overflow: hidden;
  margin-bottom: 16em; 
}

app-fifth-circle{
  width: 315px;
  top: 0px;
  // position: absolute;
  overflow: hidden;
  // background-color:#005cffc7;
}

app-midi-chord-detect-abc{
  /* height: 228px; */
  width: 122px;
  overflow: hidden;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: -57px;
}
#midi_chord_name{
 height: 78%;
 min-width: 70px;
 position: absolute;
 left: 0px;
 justify-content: center;
 display: flex;
 flex-direction: column;
 }

 app-youtube-audio{
  z-index: 20;
 }

::ng-deep .abcjsNoteSelected{
  fill:var(--selection);
  font-size:2em !important;
  color:var(--selection);
}

::ng-deep .abcjs-part{
  transform:translate(-60px,0);
}

