<div class="song" 
autofocus
tabindex="0" 
(window:resize)="onResize()">

		<div id="abcCanvas" class="mr-auto " > </div>
		<!-- <div [id]="warnings_id" ></div> -->


    <div class="editor_tab" [ngClass]="{editor_visible:cm.isEditor_visible()||cm.isMetro_visible() || cm.isCircle_visible() || cm.isDico_visible() || cm.isOptions_visible()}" 
      (contextmenu)="cm.toggleEditor_visible();$event.preventDefault();" 
      (click)="cm.toggleEditor_visible();cm.setMetro_visible(false);cm.setCircle_visible(false);cm.setDico_visible(false);cm.setOptions_visible(false);">
      <div class="fa fa-edit"></div>
    </div >

		<!-- <app-transport ></app-transport> -->
    <div class="metro_tab" [ngClass]="{metro_visible:cm.isEditor_visible()||cm.isMetro_visible() || cm.isCircle_visible() || cm.isDico_visible() || cm.isOptions_visible()}" 
      (contextmenu)="cm.toggleMetro_visible();$event.preventDefault();" 
      (click)="cm.setEditor_visible(false);cm.toggleMetro_visible();cm.setCircle_visible(false);cm.setDico_visible(false);cm.setOptions_visible(false);">
      <!-- <div class="far fa-clock"></div> -->
     <img src="assets/img/metronome_ico.svg"> 
    </div >

		<div class="circle_tab" [ngClass]="{circle_visible:cm.isEditor_visible()||cm.isMetro_visible() || cm.isCircle_visible() || cm.isDico_visible() || cm.isOptions_visible()}" 
		(contextmenu)="cm.toggleCircle_visible();$event.preventDefault();" 
		(click)="cm.setEditor_visible(false);cm.setMetro_visible(false);cm.toggleCircle_visible();cm.setDico_visible(false);cm.setOptions_visible(false);">
      <div class="fas fa-circle" ></div>
		</div >

    <div class="dico_tab" [ngClass]="{dico_visible:cm.isEditor_visible()||cm.isMetro_visible() || cm.isCircle_visible() || cm.isDico_visible() || cm.isOptions_visible()}" 
      (contextmenu)="cm.toggleDico_visible();$event.preventDefault();" 
      (click)="cm.setEditor_visible(false);cm.setMetro_visible(false);cm.setCircle_visible(false);cm.toggleDico_visible();cm.setOptions_visible(false);">
      <div class="fa fa-book"></div>
    </div >

    <div class="options_tab" [ngClass]="{options_visible:cm.isEditor_visible()||cm.isMetro_visible() || cm.isCircle_visible() || cm.isDico_visible() || cm.isOptions_visible()}" 
      (contextmenu)="cm.toggleOptions_visible();$event.preventDefault();" 
      (click)="cm.setEditor_visible(false);cm.setMetro_visible(false);cm.setCircle_visible(false);cm.setDico_visible(false);cm.toggleOptions_visible();">
      <div class="fa fa-cog"></div>
    </div >



    <div class="editor_menu" [ngClass]="{editor_visible:cm.isEditor_visible()}">
    	<app-editor style="z-index: 3;"></app-editor>
    </div>

		<div class="metro_menu" [ngClass]="{metro_visible:cm.isMetro_visible()}">
			<app-metro [hidden]="!cm.isMetro_visible()"></app-metro>
		</div>

		<div class="circle_menu" [ngClass]="{circle_visible:cm.isCircle_visible()}">
			<div id="midi_chord_name" app-midi-chord-detect-simple></div >
			<div style="justify-content:center;height:78%;display:flex;width:100%;">
					<app-fifth-circle [chord]="cur_chord" [hidden]="!cm.isCircle_visible()"></app-fifth-circle>
			</div>
			<app-midi-chord-detect-abc [hidden]="!cm.isCircle_visible()"></app-midi-chord-detect-abc>
		</div>

    <div class="dico_menu" [ngClass]="{dico_visible:cm.isDico_visible()}">
      <app-dico [hidden]="!cm.isDico_visible()"></app-dico>
    </div>

    <div id="options" class="options_menu" [ngClass]="{options_visible:cm.isOptions_visible()}">
      <span>
        <label class="p-2" for="isMinimalRendering"> Minimal rendering</label>
        <input id="isMinimalRendering" type="checkbox" style="vertical-align: text-bottom;"
          [(ngModel)]="cm.minimalRendering" (change)="dm.renderFromModel()"/>
      </span>
    </div>



	<!-- <app-tab-parser ></app-tab-parser> -->
	<!-- <app-chords-from-youtube ></app-chords-from-youtube> -->


	<app-piano></app-piano>
<!--       <div class="chordsBrowse_tab" [ngClass]="{chordsBrowse_visible:chordsBrowse_visible==true}" 
      (click)="chordsBrowse_visible=!chordsBrowse_visible;">
      <div class="fa fa-edit"></div>
    </div >

    <div class="chordsBrowse_menu" [hidden]="chordsBrowse_visible==false">
      <app-chords-browse ></app-chords-browse>
    </div>
 -->
	<app-youtube-audio></app-youtube-audio>

</div>

  <!-- SAVE CHECK SIGN -->
<div id="saved_ok_mark" style="display:none;position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 15em;" >
  <i class="fas fa-check" style="color:green;"></i>
</div>
<div id="saved_pb_mark" style="display:none;position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 15em;" >
  <i class="fas fa-times" style="color:red;"></i>

</div>



