.chord{
	display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: 100%;	
}
.dom{
  color:red;
}
.normal{
  color:black;
}
.rootName{
  font-size: 700%;
  font-size: 200%;
  // text-transform:uppercase;
  font-family:'music-font';
}

.extentionName{
  margin-left: 13%;
  // transform: translate(13px, 80px);
  // position: absolute;
}

@font-face {
    font-family: 'music-font';
    // src: url("../../../assets/font/Chord_Grid_v2.otf") format("opentype");
    src: url("../../../assets/font/main_comma.otf") format("opentype");
}

.font-test {
  font-family: 'music-font';
  /*white-space: pre-wrap;*/
}
