.key{
  width:50px;
}
button{
	a{
		color:blue;
    opacity:1 !important;
    font-size: 2em;
	}
}

.browse{
	// border: 1px solid black;
	width:100%;
	min-height: 150px;
  max-height:90vh;
  overflow: auto;
  padding-top:30px;
  font-size:0.7em;
}

.top-row{
	justify-content: center;
  align-items: center;
  display: flex;
  margin:20px
}

input{
	width:90%;
}

.song{
  background-color:#efefefe0;
  // opacity:0.6;
  &.pair{
    background-color:#e7e7e747;
    // opacity:0.6;
  }
  a{
    color:blue;
    opacity:1 !important;
    font-size: 1em;
  }

}

td:first-child {
  // border-top-left-radius: 10px; 
  // border-bottom-left-radius: 10px;
}
td:last-child {
    // border-bottom-right-radius: 10px; 
    // border-top-right-radius: 10px; 
}

td {
  // padding: 10px;
}

a{
  // color:black;
}

.fakebook-modal{
	position: fixed;
  top: 100px;
  left: 0;
  z-index: 1050;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

