<div class="browse">


  <div class="top-row"> </div>

  <table style="width:100%; max-height: 300px;max-height: 75vh; overflow-y: auto;">
    <td><input type="text" [(ngModel)]="searchPattrn.title" placeholder="Search Title" (ngModelChange)="search('title')"/></td>
    <td><input type="text" [(ngModel)]="searchPattrn.artist" placeholder="Search Artist" (ngModelChange)="search('artist')"/></td>
    <td><input type="text" [(ngModel)]="searchPattrn.author" placeholder="Search Author" (ngModelChange)="search('author')"/></td>
    <td><input type="text" [(ngModel)]="searchPattrn.style" placeholder="Search Style" (ngModelChange)="search('style')"/></td>
    <td><input type="text" [(ngModel)]="searchPattrn.chords" placeholder="Search Chords" (ngModelChange)="search('chords')"/></td>
    <td><input type="text" [(ngModel)]="searchPattrn.analysis" placeholder="Search Analysis" (ngModelChange)="search('analysis')"/></td>
    <td style="width:115px;"></td>

    <tr>
      <th>Title</th>
      <th>Artist</th> 
      <th>Author</th>
      <th>Album</th>
      <th>Style</th>
      <th >Key</th>
      <!-- <th>Analysis</th> -->
    </tr>


    <tr *ngFor="let score of list; index as i" class="song" [ngClass]="{'pair':i%2==0}">

      <td><a class="clickable-row" tabindex="1" [routerLink]="['/score/'+score.id]" >{{score.title}}</a></td>
      <td><a class="clickable-row" [routerLink]="['/artist/'+score.artist]">{{score.artist}}</a></td>
      <td><a class="clickable-row" [routerLink]="['/author/'+score.author]">{{score.author}}</a></td>
      <td><a class="clickable-row" [routerLink]="['/album/'+score.album]">{{score.album}}</a></td>
      <td><a class="clickable-row" [routerLink]="['/style/'+score.style]">{{score.style}}</a></td>
      <td class="key"><a class="clickable-row " [routerLink]="['/key/'+score.tonality]">{{score.tonality}}</a></td>
      <!-- <td><a class="clickable-row" ></a></td> -->
      <td >
          <a [routerLink]="" [hidden]="score.author != user.get_nick()" (click)="openDeleteModal(i)" style="top: 0.15em; position: relative;">Delete score
          </a>
      </td>
    </tr>

  </table>


  <!-- Modal -->
  <div class="fakebook-modal " id="exampleModal" [hidden]="modalInfos.hide" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete score</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalInfos.hide=true">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete the score : {{modalInfos.title}} ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalInfos.hide=true" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="deleteScore()" class="btn btn-primary">Ok</button>
        </div>
      </div>
    </div>
  </div> <!-- Modal -->

</div>