<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">

  <a class="navbar-brand logo" [routerLink]="['/home']">fakebook</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item" *ngIf="!user.user_is_logged.value">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#login-modal" >Login</a>
      </li>

      <li class="nav-item" *ngIf="!user.user_is_logged.value">
        <a class="nav-link" href="#" data-toggle="modal" data-target="#sign-up-modal" >Sign up</a>
      </li>

      <li class="nav-item" *ngIf="user.user_is_logged.value">
        <a class="nav-link disabled" href="#">Welcome {{user.user_nick}}</a>
      </li>

      <li class="nav-item" *ngIf="user.user_is_logged.value">
        <a class="nav-link" href="#" [routerLink]="['/'+newScoreLink]">New score</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/metronome']" href="#">Metronome</a>
          <a class="dropdown-item" [routerLink]="['/fifths']" href="#">Fifths circle</a>
          <a class="dropdown-item" [routerLink]="['/draft']" href="#">Draft</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/select-exercise']" href="#">Exercises</a>
          <!-- <a class="dropdown-item" href="/create-exercise?level=1">Level 1</a> -->
          <!-- <a class="dropdown-item" [routerLink]="['/create-exercise']" [queryParams]="{level: 1}" href="#">Level 1</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" [routerLink]="['/home']" href="#">Logout</a>
        </div>

      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" style="max-width: 290px;" type="search" placeholder="Search" aria-label="Search">
      <a class="btn btn-sm btn-outline-success my-2 my-sm-0" style="color:rgba(255,255,255,.5);" type="submit">Search</a>
    </form>
  </div>
</nav>

 <!-- login modal -->
  <div class="modal fade" id="login-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Log in</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="email"    [(ngModel)]="user_email">
          <input type="text" placeholder="password" [(ngModel)]="user_pass">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="login()" class="btn btn-default" data-dismiss="modal">Login</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- end of login modal -->

 <!-- sign up modal -->
  <div class="modal fade" id="sign-up-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign up !</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <input type="text" placeholder="email"          [(ngModel)]="user_email">
          <input type="text" placeholder="password"       [(ngModel)]="user_pass">
          <input type="text" placeholder="password again" [(ngModel)]="passverif">
          <input type="text" placeholder="nickname"       [(ngModel)]="user_nick">
        </div>
        <div class="modal-footer">
          <button type="button" (click)="signUp()" class="btn btn-default" data-dismiss="modal">Sign up</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- end of sign up modal -->


