<div id="editor" (contextmenu)="$event.preventDefault();" tabindex="2">

	<!-- tab -->
<!-- 	<div class="tab " [ngClass]="{editOn:display==true}" 
		(contextmenu)="display=!display;$event.preventDefault();" 
		(click)="display=!display">
		<i class="fas fa-edit" style="font-weight:400;"></i>
	</div>
 -->

	<div class="main_col">

		<div class="w-100 d-flex" >
      <i class="fas fa-copy p-2" (click)="copySelection()" title="Copy"></i>
      <i class="fas fa-paste p-2" (click)="paste_only_chords()" title="Paste only chords"></i>
      <i class="fas fa-file-audio p-2" (click)="pasteSelection()" title="Paste with audio zones and chords"></i>
      <i class="fas fa-plus p-2" style="color:green;" (click)="addNextPart()" title="Add part"></i>
      <i class="fas fa-plus p-2" style="color:red;" (click)="addMeasure()" title="Add measure"></i>
      <i class="fas fa-search p-2" (click)="analyse()" title="Analyse"></i>
      <i class="p-2" (click)="switch_chords_display()" title="Change display" style="font-family:cursive;font-weight: 900; line-height: 10px; font-size: 1.2em;">I</i> 
      <i class="fas fa-save p-2" (click)="save()" title="Save"></i>
      <i class="fas fa-cog p-2" (click)="debug()" title="DEBUG"></i>
		</div>






		<div id="score_infos" style="padding-top:10px;padding-bottom:10px;">
		  <a class="collapsible" data-toggle="collapse" href="#collapseScoreinfo" role="button" aria-expanded="false" aria-controls="collapseScoreinfo">
		  	Score informations
		  </a>

			<div class="collapse " id="collapseScoreinfo">
			  <div class="card card-body content score_infos"> 
			  	<span class="box_informations"> 
            <label for="title">Title</label> 								
            <input  (change)="render(0,0,'header')" [(ngModel)]="song.title" class="form-control input-xs" id="title" name="title" type="text"> 
          </span>
			  	<span > 
            <label for="artist">Artist</label> 							
            <input  (change)="render(0,0,'header')" [(ngModel)]="song.artist" class="form-control input-xs" id="artist" name="artist" type="text"> 
          </span>
			  	<span class="box_informations"> 
            <label for="album">Album</label>
            <input  (change)="render(0,0,'header')" [(ngModel)]="song.album" class="form-control input-xs" id="album" name="album" type="text"> 
          </span>
			  	<span class="box_informations"> 
            <label for="album">Style</label>
            <input  (change)="render(0,0,'header')" [(ngModel)]="song.style" class="form-control input-xs" id="style" name="style" type="text"> 
          </span>
			  	<span > 
            <label for="tonality">Tonality</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.tonality" class="form-control input-xs" id="tonality" name="tonality" type="text"> 
          </span>
			  	<span class="box_informations"> 
            <label for="tonality">Signature</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.signature" class="form-control input-xs" id="signature" name="signature" type="text"> 
          </span>
			  	<span class="box_informations"> 
            <label for="default_dur">Default dur</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.default_duration" class="form-control input-xs" id="default_dur" name="default_dur" type="text"> 
          </span>
			  	<span class="box_informations"> 
            <label for="clef">Clef</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.clef" class="form-control input-xs" id="clef" name="clef" type="text"> 
          </span>
			  	<span > 
            <label for="transposition">Transposition</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.transpose" class="form-control input-xs" id="transpose" name="transpose" type="number"> 
          </span>
			  	<span class="box_informations"> 
            <label for="m_per_l">Measures per line</label> 
            <input (change)="render(0,0,'header')"  [(ngModel)]="song.m_per_l" class="form-control input-xs" id="m_per_l" name="m_per_l" type="text"> 
          </span>
		  	</div>
			</div>
		</div>

		<div>
			<a class="collapsible" data-toggle="collapse" > Parts </a>

			<div class="parts_container collapse show" style="height: 80vh;overflow: auto;">

			  <div class="card card-body content" style="margin-bottom:20em; border:none;">

				  	<div 
				  	[attr.id]="'part_'+p_idx" 
				  	class="part" 
				  	tabindex="0" 
				  	(dblclick)="selectPart(p_idx)" 
						(keydown.control.c)="copySelection()" 
						(keydown.control.v)="paste_only_chords()" 
						(keydown.delete)="deletePart(p_idx)"
				  	*ngFor="let p of this.parts; let p_idx = index"> 
            <!-- (focus)="selectPart(p_idx)" -->


				  		<!-- PARTS SPACE -->
										
	  		<!-- ^P1__________ -->
				<div style="display: flex; align-items: baseline; overflow: auto;">
          <span class="d-flex"
            style="border:none;height: 1.7em;width:5em;font-size:0.8em;justify-content:left;" 
              data-toggle="collapse" 
              [attr.href]="'#collapseMeasures'+p_idx" 
              data-parent="#collapseBigGroup"
              aria-expanded="true" 
              [attr.aria-control]="'collapseMeasures'+p_idx"
              class="collapsible" 
          >
      		  <a > <i class="fas collapsible fa-angle-double-down p-1"> </i> </a>
          </span>
          <span style="width:100%;">
            <input style="min-width: 35%;font-weight: 500;" placeholder="Title" (change)="render(p_idx,0,'header')" [(ngModel)]="p.title" class="form-control input-xs" [attr.id]="'part_'+p_idx+'_title'" name="title" type="text">
          </span>

          <span class="ml-auto d-flex" >
            <span>
              <input style="width:3em; text-align:center;" placeholder="Key" (change)="render(p_idx,0,'header')" [(ngModel)]="p.tonality" class="form-control input-xs ml-1" [attr.id]="'part_'+p_idx+'_tonality'" name="title" type="text"> 
            </span>
            <span>
              <input style="width:4em;margin-left:auto;" placeholder="Meter" (change)="render(p_idx,0,'header')" 
              [(ngModel)]="p.meter" class="form-control input-xs ml-1" 
              [attr.id]="'part_'+p_idx+'_signature'" name="signature" type="text"> 
            </span>
  					<i class="ml-2 fas fa-window-close p-1" (click)="deletePart(p_idx)"></i> 
          </span>
				</div>


      <div id="collapseBigGroup">

			<div class="collapse card card-body content" [attr.id]="'collapseMeasures'+p_idx"> <!-- parts collapsible -->

			  <!-- <div class=""> -->


			  	<div [attr.id]="'measure_'+p_idx+'_'+i" 
			  	class="measure" 
					tabindex="1"
			  	(click)="selectMeasure(p_idx,i)" 
					(keydown.control.c)="copySelection()" 
					(keydown.control.v)="paste_only_chords()" 
					(keydown.delete)="deleteSelection(p,m)"
          (contextmenu)="collapse_measure(p_idx,i)"
			  	*ngFor="let m of p.getMeasures(); let i = index">

				  	<span class="w100" 
							  	data-toggle="collapse" 
							  	[attr.href]="'#measure_hidden_'+p_idx+'_'+i" 
							  	aria-expanded="false" 
							  	[attr.aria-controls]="'measure_hidden_'+p_idx+'_'+i"
							  	>

				  		<span >
  				  		<i [ngClass]="{'fa-angle-double-down':m.collapse,'fa-angle-double-up':!m.collapse}" class="fas collapsible"> </i>
                <div style="padding:5px;width:3em;">
                  {{getMeasureIdxs(m)}}
                </div>
  				  		<i class="fas fa-play m-1" (click)="playMeasure(p,m)"> </i>
				  		</span>

              <!-- CHORD INPUT LINE -->
							<div class="measure_chords">
						  	<input placeholder="Chords" 
                  autocomplete="off" 
							  	(keydown.shift.space)="playPauseMeasure(p,m)"
                  (change)="render(p,m,'chords');" 
                  [attr.name]="'chords_row_'+i" 
                  [(ngModel)]="m.chords" 
                  (focus)="selectMeasure(p_idx,i)"
                  class="form-control input-sm" 
                  type="text"> 
						  </div>

				  		<!-- <i [ngClass]="{'active':m.hasOwnProperty('audioRegion')}" (click)="addMarkerToSelection(p,m)" class="fas fa-thumbtack"> </i> -->
              
				  		<i (click)="deleteSelection(p,m)" class="ml-2 fas fa-window-close"> </i>
						</span>

						<div [attr.id]="'measure_hidden_'+p_idx+'_'+i" class="collapse" >
						  <div class="measure_row" >
						  	<!-- <label [attr.for]="'notes_row_'+p_idx+'_'+i">Notes:</label>  -->
						  	<input placeholder="Notes" autocomplete="off" (change)="render(p,m,'notes')" [attr.name]="'notes_row_'+i" [(ngModel)]="m.notes" class="form-control input-sm" type="text">
						  </div>

						  <div class="measure_row" >
						  	<!-- <label [attr.for]="'lyrics_row_'+p_idx+'_'+i">Lyrics:</label>  -->
						  	<input placeholder="Lyrics" autocomplete="off" (change)="render(p,m,'lyrics')" [attr.name]="'lyrics_row_'+i" [(ngModel)]="m.lyrics" class="form-control input-sm" type="text">
						  </div>

						  <div class="measure_row" >
						  	<label [attr.for]="'line_row_'+p_idx+'_'+i">Go to line:</label> 
						  	<input (change)="render(p,m,'eol')" [attr.name]="'gotoline_row_'+i" [(ngModel)]="m.eol" class="form-control input-sm" type="checkbox">
						  </div>

						  <div class="measure_row" >
						  	<!-- <label [attr.for]="'analysis_row_'+p_idx+'_'+i">Analysis :</label>  -->
						  	<input placeholder="Analysis" autocomplete="off" (change)="render(p,m,'analysis')" [attr.name]="'analysis_row_'+i" [(ngModel)]="m.analysis" class="form-control input-sm" type="text">
						  </div>
						</div>

			  	</div>

			  <!-- </div> -->
			</div> <!-- parts collapsible -->
    </div> <!-- #collapse-big-group -->

				  	 </div>

			</div>

		</div>
	






	</div> <!-- main_col -->


</div>

