#editor{
  &:focus{
    outline:none;
  }
  user-select:none;
    background-color: #343a40!important;
  // overflow: auto;
  position: fixed;
  width: 36vw;
  height: 100%;
  // right: 100%;
  top:0px;
  color:white;
  min-width: 271px;
  padding-top: 10vh;
  // &.editOn{
  //   right : 0vw;
  //   }

.parts_container{
    /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }
  .part{
    // border-bottom: 1px solid white;
    // border-radius: 10px;
    margin-bottom: 1em;
    // padding-top: 1em;
    // padding-bottom: 1em;
    // padding-left: 0.3em;  
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    // background: #888; 
    background:linear-gradient(180deg,#ff8a00,#e52e71);
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

i{
 color:white; 
  &.active{
    color:red;
  }
}

.main_col{
  top: 70px;
  position: absolute;
  width: 100%;
}




input{
  padding:0;
  background-color: transparent;
  color:white;
  // border-top: none;
  // border-left: none;
  // border-right: none;
  border:none;
  border-radius: 0px;
  height: 1.6em;
}

.card-body{
  padding:0.65rem;
  // font-size: 0.8rem;
}

.form-control{
  font-size:1em;
  box-shadow: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  // background-color: #eee;
  color: white;
  cursor: pointer;
  // padding-left: 3px;
  border-bottom: 1px solid white ;
  text-align: left;
  outline: none;
  // font-size: 15px;
  // width:100%;
  height: 1.5em;
  display: flex;
}

a.collapsible{
  // font-size: 1em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: transparent;
}

.score_infos{
  span{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  label{
    width: 70%;
    margin-bottom: 0;
    margin-right: 5px;
    }
}
  /* Style the collapsible content. Note: hidden by default */
.content {
  // background-color: #2a2a2a !important;
  background-color: #343a40 !important;

  .fas{
    border:none;
    align-items:center;
    // font-size: 1em;
  }

  .measure{
    // border-left: 1px solid;
    border-left: 1px solid white !important;
    // border-radius: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;    
    outline:none;
    &.active{
      // border: 1px solid blue !important;
      outline:none;
      background-color:var(--selection-transparent);
    }


    span{
      .collapse{
        width: 100%;
        // display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
      }
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .measure_row{
      span{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      label{
        // width:40%;
      }
      input[type='checkbox'] {
        width:1em;
      }

      display: flex;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;        
      &.show {
        display: flex;
      }
      &.collapsing {
        display: flex;
      }
    }

    .measure_chords{
      display: flex;
      justify-content: center;
      align-items: baseline;
      flex-grow:1;
      label{
        // width:40%;
      }
    }

  }//.measure
}//.content



  //disable text in blue when selected
  ::selection {
      color: none;
      background: none;
  }
  /* For Mozilla Firefox */
  ::-moz-selection {
      color: none;
      background: none;
  }

  i{
    &:hover{

    color:var(--light_prim) !important;
    }
  }
}