.chord{
	border:1px solid black;
	width: fit-content;
	min-width:180px;
	height: 180px;
	margin: 10px;
	display: inline-flex;
	flex-direction: column;
	padding:5px;
	i{
		margin-left: auto;
	}
	div{
		justify-content:left;
	}

	input{
		width:80px;
	}
}

.add-progression{
	i{
		margin-right: auto;	
	}
}

.progression{
	.title{
		display:flex;
		border-bottom: 1px black solid;
    margin-bottom: 17px;
		i{
			margin-left:auto;
		}
	}
	padding: 20px;
	border:1px solid black;
	width:fit-content;
	// display: inline-block;
	margin:10px;
}

@font-face {
    font-family: 'music-font';
    src: url("../../../assets/font/Chord_Grid_v2.otf") format("opentype");
}

.chord-font {
  font-family: 'music-font';
  /*white-space: pre-wrap;*/
  font-size:5em;
  line-height: 75px;
}
