<svg:g transform="scale(1.5)" anchor="middle" style="transform:translate(16vmin,11vmin);background-color: #343a40;padding-top: 3px;" class="cObj centerText"></svg:g>

<div class="tab" [ngClass]="{show:display==true}" (contextmenu)="display=!display;$event.preventDefault();" (click)="display=!display">
	<img src="assets/img/piano.png">
</div>

<div style="position:fixed;bottom:0px;height: 175px;left:0px;width:100%;padding-top:10px;background-color: #343a40;" [hidden]="display==false" (contextmenu)="display=false;$event.preventDefault();" >
	<svg width="100%" height="auto" version="1.1" style="background:#343a40 !important;" viewBox="0 20 1302 109" xmlns="http://www.w3.org/2000/svg">
			<g transform="translate(-128 -9.94)">
					<g transform="translate(7.41)">
							<path (click)="play($event)" [ngClass]="{active:notes[21]==1}" id="note_21" d="m113 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[23]==1}" id="note_23" d="m139 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[24]==1}" id="note_24" d="m164 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[26]==1}" id="note_26" d="m189 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[28]==1}" id="note_28" d="m214 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[29]==1}" id="note_29" d="m239 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[31]==1}" id="note_31" d="m265 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[33]==1}" id="note_33" d="m290 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[35]==1}" id="note_35" d="m315 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[36]==1}" id="note_36" d="m340 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[38]==1}" id="note_38" d="m365 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[40]==1}" id="note_40" d="m390 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[41]==1}" id="note_41" d="m416 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[43]==1}" id="note_43" d="m441 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[45]==1}" id="note_45" d="m466 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[47]==1}" id="note_47" d="m491 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[48]==1}" id="note_48" d="m516 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[50]==1}" id="note_50" d="m542 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[52]==1}" id="note_52" d="m567 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[53]==1}" id="note_53" d="m592 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[55]==1}" id="note_55" d="m617 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[57]==1}" id="note_57" d="m642 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[59]==1}" id="note_59" d="m667 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[60]==1}" id="note_60" d="m693 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[62]==1}" id="note_62" d="m718 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[64]==1}" id="note_64" d="m743 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[65]==1}" id="note_65" d="m768 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[67]==1}" id="note_67" d="m793 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[69]==1}" id="note_69" d="m819 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[71]==1}" id="note_71" d="m844 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[72]==1}" id="note_72" d="m869 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[74]==1}" id="note_74" d="m894 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[76]==1}" id="note_76" d="m919 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[77]==1}" id="note_77" d="m944 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[79]==1}" id="note_79" d="m970 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[81]==1}" id="note_81" d="m995 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[83]==1}" id="note_83" d="m1020 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[84]==1}" id="note_84" d="m1045 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[86]==1}" id="note_86" d="m1070 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[88]==1}" id="note_88" d="m1096 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[89]==1}" id="note_89" d="m1121 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[91]==1}" id="note_91" d="m1146 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[93]==1}" id="note_93" d="m1171 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[95]==1}" id="note_95" d="m1196 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[96]==1}" id="note_96" d="m1221 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[98]==1}" id="note_98" d="m1247 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[100]==1}" id="note_100" d="m1272 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[101]==1}" id="note_101" d="m1297 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[103]==1}" id="note_103" d="m1322 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[105]==1}" id="note_105" d="m1347 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[107]==1}" id="note_107" d="m1372 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[108]==1}" id="note_108" d="m1398 10.5h24.5v96.7c-3.01 6.11-19.9 5.94-24.5 0z" class="white_key"/>
					</g>
					<g transform="matrix(1 0 0 1 -4.24 .000722)">
							<path (click)="play($event)" [ngClass]="{active:notes[22]==1}" id="note_22" d="m143 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[25]==1}" id="note_25" d="m194 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[27]==1}" id="note_27" d="m219 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[30]==1}" id="note_30" d="m268 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[32]==1}" id="note_32" d="m293 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[34]==1}" id="note_34" d="m318 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[37]==1}" id="note_37" d="m369 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[39]==1}" id="note_39" d="m394 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[42]==1}" id="note_42" d="m443 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[44]==1}" id="note_44" d="m468 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[46]==1}" id="note_46" d="m493 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[49]==1}" id="note_49" d="m544 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[51]==1}" id="note_51" d="m569 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[54]==1}" id="note_54" d="m619 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[56]==1}" id="note_56" d="m643 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[58]==1}" id="note_58" d="m668 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[61]==1}" id="note_61" d="m720 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[63]==1}" id="note_63" d="m745 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[66]==1}" id="note_66" d="m794 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[68]==1}" id="note_68" d="m819 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[70]==1}" id="note_70" d="m843 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[73]==1}" id="note_73" d="m895 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[75]==1}" id="note_75" d="m920 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[78]==1}" id="note_78" d="m969 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[80]==1}" id="note_80" d="m994 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[82]==1}" id="note_82" d="m1019 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[85]==1}" id="note_85" d="m1070 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[87]==1}" id="note_87" d="m1095 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[90]==1}" id="note_90" d="m1144 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[92]==1}" id="note_92" d="m1169 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[94]==1}" id="note_94" d="m1194 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[97]==1}" id="note_97" d="m1245 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[99]==1}" id="note_99" d="m1270 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[102]==1}" id="note_102" d="m1319 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[104]==1}" id="note_104" d="m1344 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
							<path (click)="play($event)" [ngClass]="{active:notes[106]==1}" id="note_106" d="m1369 10.2h17.4v58c-2.14 3.66-14.2 3.56-17.4 0z" class="black_key"/>
					</g>
			</g>
	</svg>



</div>

