.tab{
	font-size: 1.1em;
	width: 140px;
	height: 30px;
	position: fixed;
	bottom: 45px;
  // right:5vw;
  left:200px;
	border: 1px solid black;
	border-radius: 12px;
	border-left: none;
	background-color: #343a40 !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	
  &.show{
  	bottom : 175px;
  	}
  	img{
  		width:20px;
  	}
  }

.black_key{
	fill-rule:evenodd;
	fill:#000;
	stroke-linejoin:round;
	stroke-width:.722;
	stroke:#000
}
.white_key{
	fill-rule:evenodd;
	fill:#fff;
	stroke-linejoin:round;
	stroke-width:.722;
	stroke:#000
}
.active{
	fill:green;
}