#exercice-rythm{
  padding-top: 11em;
}
#abcjs-wrapper{
  // width:92vh;
  // height: 100px;
}

::ng-deep .abcjs-btn{
width: 28px;
height: 45px;
margin-right: 2px;
padding: 3px 4px;
background: none;
border: 1px solid transparent;
box-sizing: border-box;
display: flex;
flex-direction: column;
/* justify-content: center; */
/* align-items: center; */
}

// ::ng-deep .abcjs-midi-progress-background{
//   width:200px;
// }
::ng-deep label{
  margin-bottom: unset !important;
}

.metronome{
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 272px;
  width: 272px;
  margin:7px;
}

.fifth_circle{
  position: absolute;
  right: 274px;
  bottom: 0px;
  width: auto;
  height: 272px;
  
}
.text_input{
  font-family: monospace;
  font-size: x-large;
  border: none;
  width: max-content;
  max-width: 100%;
  width: -webkit-fill-available;
}
#synthControl{
  min-height: 20px;
}


textarea::-webkit-scrollbar {
    width: 34px;
}
textarea{
  min-height: 70px;
  overflow-y:scroll;
}