.home{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
  padding-top: 55px;
  // width: 99vw;
  // height: 94vh;
}

.home::after{
	content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  background-repeat: no-repeat;
	background-image:url("../../../assets/logomysongs/mysongs-03.png");
  background-position: 81% 22%;
}

app-browse{
  width: 100%;
  top: 30px;
  height: 100%;
  /* padding-top: 47px; */
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  position: absolute;
}

.widget_links{
	margin:10px;
}