.question{
	font-size: 12vmax;
	margin:0px;
	justify-content: center;
}

.answer-card{

	min-width: 100px;
	min-height: 100px;
	border: 1px solid black;
	border-radius: 15px;
	margin: 20px;
	/* display: inline-block; */
	/* text-align: center; */
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 55px;
	background-color: #435353;
	color: white;
}

.card-container{
	display:flex;
	flex-direction:row;
	justify-content:center;
	margin:0;

}

.correct{
	color:green;
}

.incorrect{
	color:red;
}
.default{
	color:black;
	justify-content: center;
  align-items: center;
  display: flex;
}

.tona{
	color:red;
}
.green{
	color:green;
}