
<div class="tab" [ngClass]="{show:(display==true&&display_Y==false),show_mas:(display==true&&display_Y==true)}" 
	(contextmenu)="display=!display;$event.preventDefault();" 
	(click)="display=!display;display_Y=false">
	<img src="assets/img/wave.png" style="width: auto;height: 50px;" role="button" class="p-2" />
</div>



	<div class="youtube-audio-container" 
		[ngClass]="{show:(display==true&&display_Y==false),show_mas:(display==true&&display_Y==true)}" 
		[hidden]="display==false" 
		tabindex="0"
    (mouseenter) ="focus($event)"
		(keydown.shift)="keyPressed($event,true)" 
		(keyup.shift)="keyPressed($event,false)" 
		(contextmenu)="(display_Y)?display_Y=false:display_Y=true;$event.preventDefault();" >
		<!-- (mouseleave)="keyPressed($event,false)" -->

			<div id="global-waveform" class="waveform-container">

				<!-- spining/youtube link -->
				<div  [ngClass]="{zindexzero:audio_loaded}" class="spining">
					<i [hidden]="!loading_wheel" class="fas fa-cog fa-spin" style="font-size: 3em;"></i>
					<span [hidden]="audio_loaded" class="link_row">
						<input type="text" placeholder="Youtube link" [(ngModel)]="link" (keydown.enter)="button_clicked()"/>
						<button class="btn btn-primary" (click)="button_clicked()" ><i class="fab fa-youtube"></i></button>
					</span>
				</div> <!-- spining -->

				<div id="wave-timeline" [hidden]="timeline_hidden" ></div> <!-- waveform timeline -->

				<div id="waveform" style="touch-action: none;"></div>
			</div>


	</div>



	<div class="youtube-video-container" [hidden]="display_Y==false" (contextmenu)="display_Y=false;$event.preventDefault();" >
		<div class="yt_player" id="player"></div>
		<!-- slider -->
		<div style="margin:5px;">
			<span class="col-2" >Volume : {{volume}}</span>
			<div class="slidecontainer " style="display:flex;flex-direction: row;">
				<input class="col-2" type="range" min="0.0001" max="0.8" step="0.01" class="slider" id="myVolume" (change)="set_volume()" (input)="set_volume()" [(ngModel)]="volume" >
			</div>
		</div>
	

	</div>


		<span class="top_row" >
			<span class="playerIcons">
				<i role="button" [ngClass]="{'active':(playerState!=2&&playerState!=1)}"	class="fas fa-stop p-2" (click)="stopAudio()"></i>
				<i role="button" [ngClass]="{'active':playerState==2}"	class="fas fa-pause p-2" (click)="pauseAudio()"></i>
				<i role="button" [ngClass]="{'active':playerState==1}"	class="fas fa-play p-2" (click)="resumeAudio()"></i>

<!-- 				<i role="button" [class.active]="playback_rate==0.5" class="p-2" (click)="changePlaybackRate(0.5)">0.5</i>
				<i role="button" [class.active]="playback_rate==0.75" class="p-2" (click)="changePlaybackRate(0.75)">0.75</i>
				<i role="button" [class.active]="playback_rate==1" class="p-2" (click)="changePlaybackRate(1)">1</i>
 -->				<i role="button" [class.active]="follow" title="Audio follow" class="p-2" (click)="toggleFollow()">f</i>
				<i role="button" [class.active]="center" title="Center score" class="p-2 fas fa-indent" (click)="toggleCenter()"></i>
			</span>
			<span style="height:35px;padding:2px;display:flex;color:white;user-select: none;">
				Repeat: 
				<input type="number" style="width:45px;" (change)="updateRepeat()" min="0" [(ngModel)]="repeat.start">
				<input type="number" style="width:45px;" (change)="updateRepeat()" min="0" [(ngModel)]="repeat.end">
				<i [ngClass]="{'active':repeat.active==true}" class="fa fa-undo " (click)="repeat.active=!repeat.active;updateRepeat()"></i>
				<img src="assets/img/loop_part.png" style="width: auto;height: 33px;" role="button" [class.inactive]="edit==false" class="p-2" (click)="setRepeatPart()"/>
				<!-- <i role="button" class="fas fa-eye fa p-2" (click)="toggle_edit()" [ngClass]="{'active':edit==true}"></i> -->
				<i role="button" [class.active]="drag" [class.inactive]="edit==false" class="fas fa-arrows-alt fa p-2" (click)="drag_toggle(!drag)"></i>
				<i role="button" [class.inactive]="edit==false" class="p-2" (click)="addNextPart()">p</i>
				<i role="button" [class.inactive]="edit==false" class="p-2" (click)="addNextRegion()">m</i>
				<i [ngClass]="{'active':ghost==true}" class="fas fa-ghost " (click)="ghost=!ghost;updateGhost()"></i>
				<i [ngClass]="{'active':stretch==true}" class="fas fa-arrows-alt-h " (click)="stretch=!stretch;updateStretch()"></i>

			</span>
				<!-- <i role="button" class="p-2" (click)="setAllBeatsFromModel()">b</i> -->
				<i (click)="display_Y=!display_Y" 
				class="fas" 
				[ngClass]="{'fa-angle-double-up':(display==true&&display_Y==false),'fa-angle-double-down':(display==true&&display_Y==true)}"
				>
			</i>
		</span>



