.debug{
	border:1px solid red;
}

.edit{
	width: 30%;
	height: 90%;
	.active{
		color:red;
	}
}

.tab{
	height: 1em;
	width: 3em;
	position: fixed;
	bottom: 45px;
  left:60px;
	border: 1px solid black;
	border-radius: 12px;
	border-bottom: none;
	background-color: #343a40!important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.3em;
	
	&.show{
		bottom : 145px;
		}
	&.show_mas{
		bottom : 600px;
		}

}
	.top_row{
		display:flex;
		align-items:center;
		justify-content: space-between;
		width:100%;	
    height: 2.5em;
		background-color:#343a40 !important;
		width: 100%;
		height: 199px;
		position: fixed;
		bottom: 0px;
		left: 0px;
		height: 45px;
		color: white;

		&.show{
			bottom : 100px;
			}
		&.show_mas{
			bottom : 600px;
			}


	i{
		// font-size: 1.3em;
		padding:10px;
		color:white;
		display: flex;
		align-items: center;
		&.active{
			color:#0bd44da6;
		}
		&.inactive{
			pointer-events:none;
			opacity: 0.6;
		}
	}
	}
.youtube-audio-container{

  user-select: none;
	.link_row{
		width:50%;
		color:black;
		display: flex;
		flex-direction: row;
		justify-content: left;
		align-items: center;
			input{
				width:18em;
				margin:5px;
				// margin-left: 
			}
			button{
				padding:4px;
				min-width:70px;
			}

	}

	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	// border:1px solid red;
	outline:none;
	// background-color:#343a40a6;
	background-color:#343a40;
  position:fixed;
  width:100%;
  left:0px;

  height: 100px;
  bottom:45px;
  &.show{
	  bottom:45px;
  	}
  &.show_mas{
  	// height: 645px;
	  bottom:500px;
  	}
}


.playerIcons{
	display:flex; 
	justify-content:space-between;
	min-width:100px;
  user-select: none;
}

.youtube-video-container{
	// border:1px solid blue;
	background-color:#343a40a6;
  position:fixed;
  bottom:0px;
  left:0px;
  height: 500px;
  width:100%;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.yt_player{
	opacity: 1;
}


.waveform-container{
	height: 105px; 
	position: relative; 
	left: 0px;
	width: 100%;

}

.spining{
	position:absolute;
	left:0px;
	top:0px;
	z-index: 10;
	width:100%;
	height: 100%;
	display:flex;
	align-items: center;
	justify-content: center;
	&.zindexzero{
		z-index: 0;
	}
}


//essai pour supprimer l' overlay de pause de youtube....
.ytp-pause-overlay {
	display:none;
}



::ng-deep ::-webkit-scrollbar {
  height: 10px;
  // background:red !important;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  background: #f1f1f1 !important; 
}
 
/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  // background: #888; 
  background:linear-gradient(180deg,#ff8a00,#e52e71) !important;
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,#ff8a00,#e52e71) !important; 
}

::ng-deep region.wavesurfer-region{
  // LEAVE THAT HERE IMPORTANT FOR CELL SCROLLING WAVEFORM !!
	pointer-events: none;
}
::ng-deep .selected{
	background-color:var(--selection-transparent) !important;
}
::ng-deep .wavesurfer-handle {

	cursor:col-resize !important;
	position:absolute !important;
	width:12px !important;
	height:12px !important;
	background-color: red !important;
	max-width:12px !important;
	}

::ng-deep .beat-region{
	background-color: #0000FF35 !important;
	top:35px !important;
	user-select: none;
	height: 15% !important;
}

::ng-deep .wavesurfer-handle-start{
	top:0px !important;
	left:0px !important;
	width:18px !important;
	max-width:18px !important;
	border-top-right-radius:10px !important;
	border-bottom-right-radius:10px !important;
	&.beat{
		opacity: 0.5;
		top:0px !important;
		left:0px !important;
		width:5px !important;
		height: 100% !important;
		max-width:5px !important;
		background-color:yellow !important;
		border-top-right-radius:0px !important;
		border-bottom-right-radius:0px !important;

	}
}

::ng-deep .wavesurfer-part-start{
	background-color: green !important;
}

::ng-deep .wavesurfer-handle-end{
	top:unset !important;
	bottom:0px !important;
	left:unset !important;
	right:0px !important;
	border-top-left-radius:10px !important;
	border-bottom-left-radius:10px !important;
	&.beat{
		opacity: 0;
	}

}

::ng-deep .loop-start{
	background-color: transparent !important;
	top:12px !important;
	width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid blue;

}
::ng-deep .loop-end{
	background-color: transparent !important;
	bottom:12px !important;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 

	border-right:10px solid blue; 
} 

::ng-deep .measureId{

	top:0px !important;
	position:absolute !important;
	color:black !important;
	font-weight:bold !important;
	font-size:50% !important;
}

canvas{
  max-width: unset !important;
}