.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


.active{
  color:red;
}
circle.active{
  stroke: red;
  stroke-width: 4px;
  stroke-opacity: 0.5;
}
circle.accent{
  // stroke: blue;
  // stroke-width: 4px;
  // stroke-opacity: 0.5;
  fill:green;
}

.beat{
  font-size: 2em;
}

input.number{
  width:80%;
}

.flip-card {
  background-color: transparent;
  width:  100%;
  height: 100%;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// .flip-card:hover .flip-card-inner {
//   transform: rotateY(180deg);
// }

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  // background-color: #bbb;
  color: black;
}

.flip-card-back {
  // background-color: #2980b9;
  background-color: #c6c6c6;
  color: black;
  transform: rotateY(180deg);
  border-radius:10px;
  overflow: hidden;
  font-size:65%;
  .flip-card-back-wrapper{
    height: 100%;
    padding:10px;
    overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      right: 100px;
      border-radius:10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      margin-right: 10px;
      border-radius:10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius:10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius:10px;
    }
  }//wrapper
}

@keyframes changeLetter {
  0% {
    // content: "A";
    // transform:matrix(1 0 0 -1 25 25);
    transform:scale(1);
  }
  50% {
    // color: red;
    transform:scale(1.5);
    // transform:matrix(2 0 0 -2 5 25);
  }
  100% {
    // content: "B";
    transform:scale(2);
  }
}

.letter-changer {
  animation: changeLetter 0.5s linear infinite alternate;
}


#tempo-slider {
  /*
    position: relative is needed for the handle to be
    positioned correctly, and border-radius: 100% just
    makes the div round.
  */
  position: relative;
  border-radius: 100%;

  /* Other than the above two, go wild! */
  height: 300px;
  width: 300px;
  background: linear-gradient(90deg, #FF9A9E, #FAD0C4);
}

/*
  Probably best to paste this exactly as is.
  These CSS rules make sure that the handle rotates
  properly, so don't change anything here.
*/
.cs-handle-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
}

/* Also paste as is */
.cs-handle {
  position: absolute;
  transform: translateY(-50%);
}

/* the appearance of the handle, feel free to change! */
#tempo-slider .cs-handle {
  height: 30px;
  width: 30px;
  /*
    Change 'right' to change the offset from the edge.
    E.g right: 0 puts the handle just next to the edge
    of #slider, on the inside
  */
  right: -15px;
  cursor: default;
  border-radius: 100%;
  background: linear-gradient(180deg, #FFFFFF, #efefef);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px 0;
}

#tempo-slider .cs-handle:active {
  background: linear-gradient(180deg, #EBEBEB, #DFDFDF)
}