
<!-- metro -->

<div 
	draggable="true"
  (dragstart)="onDragStart($event)"
  (drag)="onDrag($event)" 
  (dragover)="onDrag($event)" 
  (drop)="onDragEnd($event)"
  (dragend)="onDragEnd($event)"
	style="position:absolute;width:100%;height: 100%;">



<div class="flip-card">
  <div id="flipCard" class="flip-card-inner">
    <div class="flip-card-front">


			<svg (contextmenu)="flip_card('flipCard')" *ngIf="display=='circle'" height="auto" width="100%" viewBox="0 0 180 180" version="2.0"
				xmlns="http://www.w3.org/TR/SVG2"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				>

				<foreignObject *ngIf="count_display=='beat'" height="100px" width="100px" x="40" y="47" >
				<xhtml:div [@openClose]="animation && beat" style="font-weight:bold;font-size: 50px;text-anchor:middle;" > {{beat+1}} </xhtml:div>
				</foreignObject>

				<text *ngIf="count_display=='subBeat'" x="90" y="98" style="font-size: 50px;text-anchor:middle;">{{beat+1}} : {{subBeat+1}}</text>
				
				<text *ngIf="count_display=='measure'" x="90" y="98" style="font-size: 20px;text-anchor:middle;">{{measure+1}} : {{beat+1}} : {{subBeat+1}}</text>

				<text *ngIf="count_display=='measure_only'" x="90" y="98" style="font-size: 40px;text-anchor:middle;">{{measure+1}} </text>

				<g *ngFor="let b of [].constructor(nb_beat_per_measure); let i = index;" >
					<circle r="8" cx="90" cy="10" attr.transform="rotate({{beat_angle*i}} 90 90)"
					[ngClass]="{'active':i==beat && subBeat==0}" (click)="toggleAccent($event)"
					attr.id_beat="{{i}}" id_subbeat="0"
					/>
					<circle 
					attr.id_beat="{{i}}" attr.id_subbeat="{{j+1}}" 
					*ngFor="let sb of [].constructor(nb_subbeat_per_beat-1); let j = index;" 
					r="6" cx="90" cy="10" 
					attr.transform="rotate({{(beat_angle*i)+(subBeat_angle*(j+1))}} 90 90)"
					[ngClass]="{'active':j+1==subBeat && i==beat}" (click)="toggleAccent($event)"
					/>
				</g>
			</svg>

			<span  (contextmenu)="flip_card('flipCard')" *ngIf="display=='line'" style="width:100%;font-size: 70%;">
				<span style="display:inline-flex;justify-content: center;align-items: center; " *ngFor="let b of [].constructor(nb_beat_per_measure); let i = index;" > 
					<i  class="fa fa-circle beat"  [ngClass]="{'active':i==beat && subBeat == 0}" > </i> 
					<i *ngFor="let sb of [].constructor(nb_subbeat_per_beat-1); let j = index;" 
					[ngClass]="{'active':j==subBeat-1 && i==beat}" class="fa fa-circle" > </i> 
				</span>
			</span>

    </div>

    <div id="flipCardBack" class="flip-card-back" (contextmenu)="flip_card('flipCardBack')" >
    	<div class="flip-card-back-wrapper">
			<div> 
				<label for="nb_beats">Beats:</label>
				<input class="number" id="nb_beats" type="number" [(ngModel)]="nb_beat_per_measure" (change)="transport.setNb_beat_per_measure(nb_beat_per_measure);calcCircle()" style="width:60px;"/> 
				
				<label for="nb_subdiv">SubBeats:</label>
				<input class="number" type="number" min="1" id="nb_subdiv" [(ngModel)]="nb_subbeat_per_beat" (change)="changeNb_beat_per_measure(nb_subbeat_per_beat)" style="width:60px;"/> 
			</div>


			<!-- slider -->
			<div style="margin:5px;">
				<span class="col-2" >Bpm : {{bpm}}</span>
				<div class="slidecontainer " style="display:flex;flex-direction: row;">
					<input class="col-2" type="range" min="40" max="180" class="slider" id="myRange" [(ngModel)]="bpm" (change)="transport.set_bpm(bpm)">
				</div>
			</div>

			<div style="text-align:left;margin-top: 20px;margin-bottom: 10px;">Midi<hr style="display:inline-block;width:50%;margin:unset;border-top:2px solid black;"></div> <!-- ----------------------------- -->

			<div style="text-align:left;">
				<div>Device
				<select class="rounded" (change)="changeMidiInput()" [(ngModel)]="selectedMidiInput">
					<option *ngFor="let input of midiInputs" [ngValue]="input.id">{{input.name}}</option>
				</select>
				</div>

				<div>"Trigger note" number
					<input [(ngModel)]="midiNoteNumber" type="number" min="0" max="127" />
				</div>

				<div>Increment
				<select class="rounded" [(ngModel)]="midi_increment">
					<option [ngValue]="4">Beat (4th)</option>
					<option [ngValue]="2">8th</option>
					<option [ngValue]="1">16th</option>
				</select>
				</div>

			<div style="text-align:left;margin-top: 20px;margin-bottom: 10px;">Display<hr style="display:inline-block;width:50%;margin:unset;border-top:2px solid black;"></div> <!-- ----------------------------- -->
			
				<div>Disposition
				<select class="rounded" [(ngModel)]="display">
					<option [ngValue]="'line'">Line</option>
					<option [ngValue]="'circle'">Circle</option>
				</select>
				</div>

			<div>Display count
			<select class="rounded" [(ngModel)]="count_display">
				<option [ngValue]="'subBeat'">SubBeat</option>
				<option [ngValue]="'beat'">Beat</option>
				<option [ngValue]="'measure'">Measure</option>
				<option [ngValue]="'measure_only'">Measure only</option>
			</select>
			</div>

			<div class="custom-control custom-switch">
			  <input type="checkbox"  [(ngModel)]="animation" class="custom-control-input" id="switch_metro_anim">
			  <label class="custom-control-label" for="switch_metro_anim">Metronome animation</label>
			</div>

			<div style="text-align:left;margin-top: 20px;margin-bottom: 10px;">Sound<hr style="display:inline-block;width:50%;margin:unset;border-top:2px solid black;"></div> <!-- ----------------------------- -->
			<div>Tic sound
			<select class="rounded" [(ngModel)]="selected_tic_instrument">
				<option [ngValue]="'1'">1</option>
				<option [ngValue]="'2'">2</option>
				<option [ngValue]="'3'">3</option>
				<option [ngValue]="'4'">4</option>
			</select>
			</div>
			<div>Measure sound
			<select class="rounded" [(ngModel)]="selected_measure_instrument">
				<option [ngValue]="'1'">1</option>
				<option [ngValue]="'2'">2</option>
				<option [ngValue]="'3'">3</option>
				<option [ngValue]="'4'">4</option>
			</select>
			</div>
		</div>


		<!-- slider -->
		<div style="margin:5px;">
			<span class="col-2" >Volume : {{volume}}</span>
			<div class="slidecontainer " style="display:flex;flex-direction: row;">
				<input class="col-2" type="range" min="0.0001" max="0.8" step="0.01" class="slider" id="myVolume" [(ngModel)]="volume" >
			</div>
		</div>

			</div> <!-- flip card back wrapper -->
    </div> <!-- flip card back -->
  </div>
</div>
</div>
