<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-navbar class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark"></app-navbar>

<!-- needed to compensate navbar height...it works best for me (insead of fixing height of app-navbar...) -->
<!-- <div style="min-height: 70px;"></div>  -->

<router-outlet ></router-outlet>

