.app-page{
	padding:30px;
	overflow: auto;
	height: 100vh;
	width: 100vw;
  padding-top: 100px;
  padding-bottom:550px;
  // background-color:red;
}
.exercise_type{
  // width:100%;
  margin-left:20px;
  // height: 200px;
  // border:1px solid black;
}

.tonalities{
  label{
    padding:10px;
  }
}

.big-checkbox {width: 30px; height: 30px;}


.active{
  // color:$color-active;
  // color:var($color-active);
 background-color: var(--dark_prim)!important;
 color: white;
 border-bottom:3px solid var(--light_prim) !important;
}



// sliders 
// 
.slidecontainer {
  width: 100%; /* Width of the outside container */

}

/* The slider itself */
.slider {

  // background-image: url("../../../../assets/img/rythms/Rhythm-4-1-01.png");
  height: 100px;
  // background-size: contain;
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  transition: opacity 0.2s;
  border: 1px solid;
  background-repeat: no-repeat;
  background-position: center -7px;
  background-size: 356px 94px;
  background-color:transparent;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 100px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  opacity: 0.6;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.card{
  background-color:transparent;
}

#templateContainer{
  // height:100px;
  border-top:5px black solid;
  border-bottom:5px black solid;
  background-color:white;
  position:fixed;
  height: 400px;
  width:100%;
  bottom:0px;
  left: 0px;
  background-color:white;
  overflow: scroll;
  zoom:0.5;
  z-index: 1;
}

#start_preview_row{
  position:fixed;
  top:75px;
  z-index: 1;
}