.tab{
	font-size: 1.1em;
	width: 40px;
	height: 100px;
	position: fixed;
	top: 22vh;
	border: 1px solid black;
	border-radius: 12px;
	border-left: none;
	background-color: #2a2a2a;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	color: white;
  padding-left: 0.6em;
	
  &.editOn{
  	left : 798px;
  	}
  }

.spinner-border {
  display: inline-block;
  width: 12rem;
  left: 10em;
  height: 12rem;
  vertical-align: text-bottom;
  border: 1.15em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
  margin-left: 11em;
  margin-top: 1em;
}