<div style="display: block; position:relative;height: 100%; width: 100%;" >
<!-- <app-metro class="metro" ></app-metro>
<app-transport></app-transport>
 -->
<div style="padding:10px;height: 100%; width:100%;">
	<div style="padding:4px;height: 100%; width:auto;" >

		<svg height="auto" width="100%" version="1.1" viewBox="-20 -20 410 410" xmlns="http://www.w3.org/2000/svg">

				<svg:g transform="scale(1.5)" anchor="middle" style="transform:translate(16vmin,11vmin);opacity:1;" class="cObj centerText"></svg:g>

					<circle transform="translate(0 -165)" cx="184" cy="354" r="152" style="fill:none;opacity:.522;stroke-width:.619;stroke:#000"/>

					<g id="path" #path_group>
						<circle class="path_point" cx="183" cy="94" r="1.85"   [ngClass]="{'active':selected_fifth=='C' || selected_mfifth=='Am' }" />
						<circle class="path_point" cx="221" cy="98.9" r="1.85" [ngClass]="{'active':selected_fifth=='G' || selected_mfifth=='Em' }"   />
						<circle class="path_point" cx="259" cy="140" r="1.85"  [ngClass]="{'active':selected_fifth=='D' || selected_mfifth=='Bm' }"  />
						<circle class="path_point" cx="272" cy="183" r="1.85"  [ngClass]="{'active':selected_fifth=='A' || selected_mfifth=='F#m' || selected_mfifth=='Gbm' }"  />
						<circle class="path_point" cx="262" cy="232" r="1.85"  [ngClass]="{'active':selected_fifth=='E' || selected_mfifth=='C#m' || selected_mfifth=='Dbm' }"  />
						<circle class="path_point" cx="231" cy="268" r="1.85"  [ngClass]="{'active':selected_fifth=='B' || selected_mfifth=='G#m' || selected_mfifth=='Abm' }"  />
						<circle class="path_point" cx="179" cy="279" r="1.85"  [ngClass]="{'active':selected_fifth=='Gb' || selected_mfifth=='Ebm' }"  />
						<circle class="path_point" cx="145" cy="268" r="1.85"  [ngClass]="{'active':selected_fifth=='Db' || selected_mfifth=='Bbm' }"  />
						<circle class="path_point" cx="109" cy="233" r="1.85"  [ngClass]="{'active':selected_fifth=='Ab' || selected_mfifth=='Fm' }"  />
						<circle class="path_point" cx="97.8" cy="181" r="1.85" [ngClass]="{'active':selected_fifth=='Eb' || selected_mfifth=='Cm' }"   />
						<circle class="path_point" cx="108" cy="140" r="1.85"  [ngClass]="{'active':selected_fifth=='Bb' || selected_mfifth=='Gm' }"  />
						<circle class="path_point" cx="138" cy="104" r="1.85"  [ngClass]="{'active':selected_fifth=='F' || selected_mfifth=='Dm' }"  />

						<polyline [attr.points]="path" style="stroke:black; stroke-width:6; fill:transparent;"/>
					</g>


					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='C' || selected_mfifth=='Am' }" transform="rotate(270)" x="-90.9" y="163" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='G' || selected_mfifth=='Em' }" transform="rotate(-46.6)" x="82.4" y="207" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='D' || selected_mfifth=='Bm' }" transform="rotate(-31.3)" x="151" y="235" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='A' || selected_mfifth=='F#m' || selected_mfifth=='Gbm' }" x="275" y="162" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='E' || selected_mfifth=='C#m' || selected_mfifth=='Dbm' }" transform="rotate(25.2)"  height="53" x="338" y="82" width="102" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='B' || selected_mfifth=='G#m' || selected_mfifth=='Abm' }" transform="rotate(55.9)"  height="53" x="354" y="-59.3" width="102" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='Gb' || selected_mfifth=='Ebm' }" transform="rotate(270)" x="-384" y="160" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='Db' || selected_mfifth=='Bbm' }" transform="rotate(-52.5)" x="-229" y="259" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='Ab' || selected_mfifth=='Fm' }" transform="rotate(-23.7)" x="-98.6" y="235" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='Eb' || selected_mfifth=='Cm' }" x="-7" y="160" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='Bb' || selected_mfifth=='Gm' }" transform="rotate(25.2)" x="52.5" y="57.9" width="102" height="53" ry="20"/>
					<rect class="selection_background" [ngClass]="{'active':selected_fifth=='F' || selected_mfifth=='Dm' }" transform="rotate(55.9)" x="58.5" y="-76.6" width="102" height="53" ry="20"/>

				<g transform="translate(0 -165)">
						<g id="major">
							<text [ngClass]="{'active':selected_fifth=='C'}" x="176" y="188.36215" class="fifths" xml:space="preserve">C</text>
							<text [ngClass]="{'active':selected_fifth=='G'}" x="260" y="210.36215" class="fifths" xml:space="preserve">G</text>
							<text [ngClass]="{'active':selected_fifth=='D'}" x="325" y="270.36218" class="fifths" xml:space="preserve">D</text>
							<text [ngClass]="{'active':selected_fifth=='A'}" x="345" y="355.36218" class="fifths" xml:space="preserve">A</text>
							<text [ngClass]="{'active':selected_fifth=='E'}" x="330" y="444.36218" class="fifths" xml:space="preserve">E</text>
							<text [ngClass]="{'active':selected_fifth=='B'}" x="265" y="508.36218" class="fifths" xml:space="preserve">B</text>
							<text [ngClass]="{'active':selected_fifth=='Gb'}" x="170" y="530.36218" class="fifths" xml:space="preserve">Gb</text>
							<text [ngClass]="{'active':selected_fifth=='Db'}" x="90" y="503.36218" class="fifths" xml:space="preserve">Db</text>
							<text [ngClass]="{'active':selected_fifth=='Ab'}" x="23" y="444.36218" class="fifths" xml:space="preserve">Ab</text>
							<text [ngClass]="{'active':selected_fifth=='Eb'}" x="0" y="355.36218" class="fifths" xml:space="preserve">Eb</text>
							<text [ngClass]="{'active':selected_fifth=='Bb'}" x="25" y="273.36218" class="fifths" xml:space="preserve">Bb</text>
							<text [ngClass]="{'active':selected_fifth=='F'}" x="90" y="209.36215" class="fifths" xml:space="preserve">F</text>


							<text [ngClass]="{'active':selected_fifth=='C'}" x="190" y="188.36215" id="fifths_ext_C" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='G'}" x="276" y="210.36215" id="fifths_ext_G" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='D'}" x="341" y="270.36218" id="fifths_ext_D" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='A'}" x="360" y="355.36218" id="fifths_ext_A" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='E'}" x="344" y="444.36218" id="fifths_ext_E" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='B'}" x="279" y="508.36218" id="fifths_ext_B" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='Gb'}" x="198" y="530.36218" id="fifths_ext_Gb" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='Db'}" x="119" y="503.36218" id="fifths_ext_Db" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='Ab'}" x="50" y="444.36218" id="fifths_ext_Ab" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='Eb'}" x="24" y="355.36218" id="fifths_ext_Eb" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='Bb'}" x="52" y="273.36218" id="fifths_ext_Bb" class="fifths_ext" xml:space="preserve"></text>
							<text [ngClass]="{'active':selected_fifth=='F'}" x="100" y="209.36215" id="fifths_ext_F" class="fifths_ext" xml:space="preserve"></text>

						</g>
						<g id="minor">
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Am'}" x="173.41632" y="220.34468"  xml:space="preserve"><tspan x="173.41632" y="220.34468" >Am</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Dm'}" x="109.00448" y="234.70085"  xml:space="preserve"><tspan x="109.00448" y="234.70085" >Dm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Gm'}" x="57.500919" y="285.64285"  xml:space="preserve"><tspan x="57.500919" y="285.64285" >Gm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Cm'}" x="39.585354" y="352.73105"  xml:space="preserve"><tspan x="39.585354" y="352.73105" >Cm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Fm'}" x="55.601101" y="420.13083"  xml:space="preserve"><tspan x="55.601101" y="420.13083" >Fm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Bbm'}" x="108.86298" y="476.49033"  xml:space="preserve"><tspan x="108.86298" y="476.49033" >Bbm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Ebm'}" x="165.39803" y="497.32037"  xml:space="preserve"><tspan x="165.39803" y="497.32037" >Ebm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='G#m'}" x="236.19267" y="473.47498"  xml:space="preserve"><tspan x="236.19267" y="473.47498" >G#m</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='C#m'}" x="280.24832" y="425.80945"  xml:space="preserve"><tspan x="280.24832" y="425.80945" >C#m</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='F#m'}" x="298.58072" y="353.58005"  xml:space="preserve"><tspan x="298.58072" y="353.58005" >F#m</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Bm'}" x="286.17484" y="282.56714"  xml:space="preserve"><tspan x="286.17484" y="282.56714" >Bm</tspan></text>
								<text class="fifths_m" [ngClass]="{'active':selected_mfifth=='Em'}" x="238.66835" y="238.64746"  xml:space="preserve"><tspan x="238.66835" y="238.64746" >Em</tspan></text>
						</g>
						<g id="alter">
								<text [ngClass]="{'active':selected_fifth=='F'||selected_mfifth=='Dm'}" x="125.66895" y="252.15071" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="125.66895" y="252.15071" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">b</tspan></text>
								<text [ngClass]="{'active':selected_fifth=='Bb'||selected_mfifth=='Gm'}" x="79.568993" y="299.22482" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="79.568993" y="299.22482" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">2 b </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='Eb'||selected_mfifth=='Cm'}" x="73.265617" y="344.16306" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="73.265617" y="344.16306" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">3 b </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='Ab'||selected_mfifth=='Fm'}" x="83.656746" y="408.06149" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="83.656746" y="408.06149" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">4 b </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='Db'||selected_mfifth=='Bbm'}" x="127.36554" y="454.85345" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="127.36554" y="454.85345" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">5 b </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='Gb'||selected_mfifth=='Ebm'}" x="174.23462" y="478.00009" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="174.23462" y="478.00009" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">6 # </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='B'||selected_mfifth=='G#m'}" x="236.70181" y="453.86963" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="236.70181" y="453.86963" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">5 # </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='E'||selected_mfifth=='C#m'}" x="271.71313" y="406.83527" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="271.71313" y="406.83527" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">4 # </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='A'||selected_mfifth=='F#m'}" x="279.86569" y="340.06415" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="279.86569" y="340.06415" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">3 # </tspan></text>
								<text [ngClass]="{'active':selected_fifth=='D'||selected_mfifth=='Bm'}" x="266.18771" y="295.59937" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="266.18771" y="295.59937" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">2 #</tspan></text>
								<text [ngClass]="{'active':selected_fifth=='G'||selected_mfifth=='Em'}" x="229.54335" y="251.36159" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;letter-spacing:0px;line-height:0%;stroke-width:.479px;word-spacing:0px" xml:space="preserve"><tspan x="229.54335" y="251.36159" style="font-family:Lato;font-feature-settings:normal;font-size:10.2px;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25;stroke-width:.479px">#</tspan></text>
						</g>
				</g>
		</svg>
	</div>
</div>

<!-- <button class="btn btn-primary" (click)="next_fifth()">next_fifth()</button>
<button class="btn btn-primary" (click)="next_fourth()">next_fourth()</button>
<button class="btn btn-primary" (click)="toggle_mode()">toggle_mode()</button>
 -->


</div>
