.cObj{
  position:absolute;
}
.centerText{
	// font-size: 0.7vw;
  position: relative;
  width: 30%;
  left: 49%;
  top: 37%;
}
.active{
	fill:red;
}

.fifths{
	font-family:Lato;
	font-feature-settings:normal;
	font-size:29.3px;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	letter-spacing:0px;
	line-height:0%;
	stroke-width:1px;
	word-spacing:0px;
}
.fifths_m{
	font-family:Lato;
	font-feature-settings:normal;
	font-size:23px;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	line-height:1.25;
	stroke-width:.772px;
}

.fifths_ext{
	font-family:'music-font';
	font-feature-settings:normal;
	font-size:25px;
	font-variant-caps:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	letter-spacing:0px;
	line-height:0%;
	stroke-width:1px;
	word-spacing:0px;
	opacity: 0;

	&.active{
		opacity: 0;
	}

}

@font-face {
    font-family: 'music-font';
    src: url("../../../assets/font/Chord_Grid_v2.otf") format("opentype");
}

.chord-font {
  font-family: 'music-font';
  /*white-space: pre-wrap;*/
}
.metro{
	position: absolute;
	top: 34.4vmin;
	left: 28.6vmin;
	height: 35vmin;
	width: auto;
}

.selection_background{
	opacity: 0;
	fill:#85949b;
	paint-order:markers fill stroke;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:2;
	stroke:#b3b3b3;
	&.active{
		opacity: 1;
	}
}

.path_points{
	paint-order:markers fill stroke;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-width:.0317;
	stroke:#b3b3b3;
	&.active{}
}