#midi-chord-detect-abc{
	// border: 1px solid black;
	overflow: hidden;
	margin-top: -275px;
}

#abcChord{
	// border:1px solid red;
	height: 30vh;;
	top:-278px; // this is what shift to get second staves
	position:initial !important;
	& ::ng-deep svg{
		width:105px;
	}
}

.mask{
	// border:1px solid black;
	width:143px;
	height:52vh;
	overflow: hidden;
  margin-top: -112px;
}

