.chordBrowse{
  width:  100%;
  height: 100%; 
  display: flex;
}

.active{
  color:var(--selection);
}

.q-buttons{
  border:1px solid;
  border-radius:5px;
  // min-width: 2em;
  display: flex;
  justify-content:center;
}

.q-selector{
  width: 200px;
  height: 3em;
  display: inline-flex;
  overflow-y: auto;
  overflow-x: auto;
  align-items: baseline;
  white-space: pre;
  margin-left:0.5em;
}

::-webkit-scrollbar {
    height: 0 !important;  /* Remove scrollbar space */
    width: 0 !important;  /* Remove scrollbar space */
    background: transparent !important;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent !important;
}